In [1]:
import pandas as pd

data = {
    'number': ['b', 'c', 'a', 'd', 'e'],
    'index': [1, 2, 3, 4, 5]
}

df = pd.DataFrame(data)
df

  number  index
0      b      1
1      c      2
2      a      3
3      d      4
4      e      5

In [2]:
custom_order = [2, 3, 1, 5, 4]

In [3]:
df = df.loc[df['index'].isin(custom_order)].set_index('index').loc[custom_order].reset_index()

In [4]:
df

   index number
0      2      c
1      3      a
2      1      b
3      5      e
4      4      d